@use "./../components/" as *;

.modal {
	padding: 0;
	border: 0;
	border-radius: var(--border-radius);

	@include mobile-s {
		width: 100%;
	}

	&::backdrop {
		background-color: var(--color-gray-dark);
		opacity: 0.8;
	}

	&__content-wrapper {
		height: 100%;
		overflow-y: auto;
	}

	&__content {
		position: relative;
		padding: calculate-from-font-size(2.5);

		p {
			margin: 0;
		}

		&-confirm-buttons {
			display: flex;
			gap: calculate-from-font-size(0.9375);
			margin-top: calculate-from-font-size(0.625);
		}

		&-confirm-button {
			width: 100%;
		}

		&-delete-button {
			width: 100%;
			margin-top: calculate-from-font-size(0.625);
		}

		&-close-button {
			position: absolute;
			top: 10px;
			right: 10px;
			width: calculate-from-font-size(1.875);
			height: calculate-from-font-size(1.875);
			padding: 0;
			background-color: transparent;
			border: none;
			cursor: pointer;
		}
	}
}

.content-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: calculate-from-font-size(0.9375);

	@include mobile {
		grid-template-columns: 1fr;
	}

	&-item {
		justify-content: space-between;
		align-items: center;
		column-gap: calculate-from-font-size(1.25);
		row-gap: calculate-from-font-size(0.625);
		padding: calculate-from-font-size(0.625);
		border: set-border(2px, var(--color-gray-dark));
		border-radius: var(--border-radius-small);
		box-shadow: set-box-shadow(var(--color-gray-dark));
		transition: set-hover-transition(border);

		&__text {
			div {
				margin-top: calculate-from-font-size(0.3125);

				span:last-child {
					white-space: nowrap;
				}
			}

			.has-margin-top-0 {
				margin-top: 0;
			}

			@include mobile-s {
				text-align: center;
			}
		}

		&__delete-button {
			grid-column: span 2;

			@include mobile-s {
				grid-column: auto;
				width: 100%;
			}
		}

		&--grid {
			display: grid;
			grid-template-columns: auto max-content;

			@include mobile-s {
				grid-template-columns: inherit;
				justify-content: center;
				justify-items: center;
			}
		}

		&-add-button-wrapper {
			grid-template-columns: 1fr;
			padding: 0;
			border: 0;
		}

		&__add-button {
			width: 100%;
			height: 100%;
		}

		img {
			width: calculate-from-font-size(6.25);
			height: calculate-from-font-size(6.25);
		}
	}

	&__delete-button {
		width: 100%;
	}

	&--flex {
		display: flex;
		flex-direction: column;

		li {
			@include mobile-s {
				text-align: center;
			}

			span {
				@include mobile-s {
					display: block;
				}
			}
		}
	}
}

.content-form {
	&__field {
		&-name,
		&-surname,
		&-experience,
		&-price,
		&-phone {
			input {
				width: 100%;
				height: calculate-from-font-size(2.5);
				padding: 0 calculate-from-font-size(0.625);
				border: set-border(2px, var(--color-gray-dark));
				border-radius: var(--border-radius-small);
				transition: set-hover-transition(border-color);
				&::placeholder {
					color: var(--color-black);
				}
				&:focus,
				&:active {
					border-color: var(--color-accent);
					outline: none;
				}
				&:autofill,
				&:autofill:hover,
				&:autofill:focus,
				&:autofill:active,
				&:-webkit-autofill,
				&:-webkit-autofill:hover,
				&:-webkit-autofill:focus,
				&:-webkit-autofill:active {
					-webkit-background-clip: text;
					-webkit-text-fill-color: var(--color-black);
				}
			}
		}

		&-surname,
		&-phone {
			margin-top: calculate-from-font-size(0.625) !important;
		}

		&-experience,
		&-price {
			@include mobile-s {
				align-self: flex-start;
				width: 100%;
			}

			input {
				width: 91%;
			}
		}

		&-experience {
			input {
				width: 100%;
			}
		}

		&-error {
			display: block;
			max-width: calculate-from-font-size(18.5);
			margin-top: calculate-from-font-size(0.3125);
		}

		&-dropdown {
			&-button {
				position: relative;
				display: flex;
				align-items: center;
				width: 110px;
				padding: calculate-from-font-size(0.3125);
				border: set-border(2px, var(--color-gray-dark));
				border-radius: var(--border-radius-small);
				cursor: pointer;
				transition: set-hover-transition(all);

				@include hover {
					border: set-border(2px, var(--color-accent));
					box-shadow: set-box-shadow(var(--color-gray-dark));
				}

				&::before {
					content: "";
					position: absolute;
					top: 50%;
					right: calculate-from-font-size(0.125);
					width: calculate-from-font-size(1.25);
					height: calculate-from-font-size(1.25);
					background: url("./../images/app/icons/arrow-dropdown-icon.svg")
						no-repeat center / cover;
					transform: translateY(-50%);
					transition: set-hover-transition(transform);
				}

				&--is-active {
					&::before {
						transform: translateY(-50%) rotate(180deg);
					}
				}

				img {
					width: 80px;
					height: 80px;
				}
			}

			&-list {
				position: absolute;
				display: none;
				flex-direction: column;
				background-color: var(--color-white);
				border: set-border(2px, var(--color-gray-dark));
				border-radius: var(--border-radius-small);

				&-item {
					padding: calculate-from-font-size(0.3125);
					cursor: pointer;
					transition: set-hover-transition(background-color);

					@include hover {
						background-color: var(--color-gray-light);
					}
				}

				&--is-open {
					display: flex;
				}
			}
		}

		&-select {
			position: relative;
			display: flex;
			align-items: center;
			gap: 10px;
			margin-top: calculate-from-font-size(0.625) !important;

			@include mobile-s {
				flex-direction: column;
				gap: 5px;
			}

			&-label {
				width: calculate-from-font-size(3.875);

				@include mobile-s {
					width: auto;
				}
			}

			&-button {
				position: relative;
				width: calculate-from-font-size(13.75);
				color: var(--color-black);

				@include mobile-s {
					width: 100%;
					padding: calculate-from-font-size(0.625)
						calculate-from-font-size(1.5625);
				}

				&::before {
					content: "";
					position: absolute;
					top: 50%;
					right: calculate-from-font-size(0.125);
					width: calculate-from-font-size(1.25);
					height: calculate-from-font-size(1.25);
					background: url("./../images/app/icons/arrow-dropdown-icon.svg")
						no-repeat center / cover;
					transform: translateY(-50%);
					transition: set-hover-transition(transform);
				}

				&--is-active {
					&::before {
						transform: translateY(-50%) rotate(180deg);
					}
				}

				@include hover {
					background-color: transparent;
				}
			}

			&-list {
				position: absolute;
				top: 100%;
				right: 0;
				z-index: 1000;
				display: none;
				flex-direction: column;
				background-color: var(--color-white);
				border: set-border(2px, var(--color-gray-dark));
				border-radius: var(--border-radius-small);

				&-item {
					padding: calculate-from-font-size(0.625);
					text-align: center;
					cursor: pointer;
					transition: set-hover-transition(background-color);

					@include hover {
						background-color: var(--color-gray-light);
					}

					@include mobile-s {
						padding: calculate-from-font-size(0.625)
							calculate-from-font-size(1.5625);
					}
				}

				&--is-open {
					display: flex;
				}
			}
		}
	}

	&__fields-wrapper {
		display: flex;
		align-items: center;
		gap: calculate-from-font-size(1.5625);
		width: calculate-from-font-size(18.5);
		margin-top: calculate-from-font-size(0.625);

		@include mobile-s {
			flex-direction: column;
			gap: calculate-from-font-size(0.625);
			width: 100%;
		}
	}

	&__button {
		width: 100%;
		margin-top: calculate-from-font-size(0.625);
	}
}

.form__field-control--is-invalid {
	border: set-border(2px, var(--color-red)) !important;
}

[data-modal="delete"] p {
	@include mobile-s {
		text-align: center;
	}
}

[data-modal="create-appointment"] button[type="submit"] {
	@include mobile-s {
		color: var(--color-white);
		background-color: var(--color-accent);
		border: 2px solid var(--color-accent);

		@include hover {
			color: var(--color-black);
			background-color: transparent;
			border: 2px solid var(--color-gray-dark);
		}
	}
}

[data-modal="show-appointment"] {
	@include mobile-s {
		width: fit-content;
	}
}
