@use "./../components/" as *;

.modal {
	padding: 0;
	border-radius: var(--border-radius);
	border: 0;

	&::backdrop {
		background-color: var(--color-gray-dark);
		opacity: 0.8;
	}

	&__content-wrapper {
		height: 100%;
		overflow-y: auto;
	}

	&__content {
		position: relative;
		padding: calculate-from-font-size(2.5);

		&-close-button {
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			padding: 0;
			border: none;
			background-color: transparent;
			width: calculate-from-font-size(1.875);
			height: calculate-from-font-size(1.875);
		}

		//? ??????
		p {
			margin: 0;
		}
	}

	&__confirm-btns {
		display: flex;
		gap: calculate-from-font-size(0.9375);
		margin-top: calculate-from-font-size(0.9375);
	}
}

.content-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: calculate-from-font-size(0.9375);

	@include mobile {
		grid-template-columns: 1fr;
	}

	&-item {
		align-items: center;
		justify-content: space-between;
		column-gap: calculate-from-font-size(1.25);
		row-gap: calculate-from-font-size(0.625);
		padding: calculate-from-font-size(0.625);
		border: set-border(2px, var(--color-gray-dark));
		border-radius: var(--border-radius-small);
		box-shadow: set-box-shadow(var(--color-gray-dark));
		transition: set-hover-transition(border);

		&--grid {
			display: grid;
			grid-template-columns: auto max-content;

			@include mobile-s {
				grid-template-columns: auto;
				justify-content: center;
				justify-items: center;
			}
		}

		&-text {
			div {
				margin-top: calculate-from-font-size(0.3125);

				span:last-child {
					white-space: nowrap;
				}
			}

			.has-margin-top-0 {
				margin-top: 0;
			}

			@include mobile-s {
				text-align: center;
			}
		}

		&-add-btn {
			row-gap: 0;
			padding: 0;
			border: none;

			@include mobile-s {
				grid-template-rows: 1fr;
				grid-template-columns: 1fr;
			}
		}

		img {
			width: calculate-from-font-size(6.25);
			height: calculate-from-font-size(6.25);
		}
	}
}

.form {
	&__input {
		border-radius: var(--border-radius-small);
		border: set-border(2px, var(--color-gray-dark));
		padding: 0 calculate-from-font-size(0.625);
		height: calculate-from-font-size(2.5);
		width: 100%;
		background-color: transparent;
		color: var(--color-black);
		transition: set-hover-transition(border-color);
		&::placeholder {
			color: var(--color-black);
		}
		&:focus,
		&:active {
			outline: none;
			border-color: var(--color-accent);
		}
		&:autofill,
		&:autofill:hover,
		&:autofill:focus,
		&:autofill:active,
		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			-webkit-background-clip: text;
			-webkit-text-fill-color: var(--color-black);
		}

		&--short {
			width: 90%;
		}

		&--is-invalid {
			border: set-border(2px, var(--color-red-notif)) !important;
		}

		&-error {
			margin-top: calculate-from-font-size(0.3125);
			display: block;
			width: 100%;
			height: 100%;
			position: static;
			transform: none;
		}
	}

	p {
		width: calculate-from-font-size(18.75);
	}

	&__inputs-wrap {
		display: flex;
		margin-top: calculate-from-font-size(0.625);
		width: calculate-from-font-size(18.75);
		align-items: center;
		gap: calculate-from-font-size(1.5625);

		p {
			width: 66%;
		}
	}

	&__select {
		&-btn {
			display: flex;
			align-items: center;
			cursor: pointer;
			border-radius: var(--border-radius-small);
			border: set-border(2px, var(--color-gray-dark));
			padding: calculate-from-font-size(0.3125);
			img {
				width: 60px;
				height: 60px;
			}
		}

		&-dropdown {
			position: relative;
			width: 24px;
			height: 50px;
			svg:first-child {
				position: absolute;
				top: -10%;
				right: 50%;
				transform: translate(50%, 50%);
			}
			svg:last-child {
				position: absolute;
				top: 10%;
				right: 50%;
				transform: translate(50%, 50%);
			}
		}

		&-list {
			display: none;
			position: absolute;
			flex-direction: column;
			background-color: var(--color-white);
			border: set-border(2px, var(--color-gray-dark));
			border-radius: var(--border-radius-small);

			&-item {
				padding-block: calculate-from-font-size(0.3125);
			}

			&--is-open {
				display: flex;
			}
		}
	}

	&__button {
		margin-top: calculate-from-font-size(0.625);
	}
}
