@use "./../components/" as *;

body:has(input#theme-color:checked) {
	color: var(--color-black);
	background-color: var(--color-white);

	.aside {
		&__contacts-address,
		&__contacts-phone {
			color: var(--color-black);
		}
	}

	.button {
		color: var(--color-black);

		@include hover {
			color: var(--color-white);
		}
	}

	.footer {
		&__show-contacts-button {
			color: var(--color-black);

			@include hover {
				color: var(--color-gray-dark);
			}
		}

		.settings {
			&__font-size {
				input {
					@include hover {
						border: set-border(2px, var(--color-black));
					}
				}
			}

			&__theme-switcher-wrapper {
				svg {
					path {
						stroke: var(--color-black);
					}
				}
			}
		}

		.contacts {
			&__list-item {
				border: set-border(2px, var(--color-black));

				&-link {
					svg {
						path {
							fill: var(--color-black);
						}
					}
				}
			}
		}
	}
}
