@use "./../components/" as *;

.app__main {
	display: flex;
	flex-grow: 1;
	gap: calculate-from-font-size(3.125);
	padding: calculate-from-font-size(1.25) 0;

	@include mobile {
		flex-direction: column;
		gap: calculate-from-font-size(0.625);
		padding: 0 0 calculate-from-font-size(1.25) 0;
	}

	&-actions {
		&-mobile {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 1000;
			display: flex !important;
			padding: calculate-from-font-size(1.25);
			transform: translateX(-200%);
			visibility: hidden;
			background-color: var(--color-black);
			border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
			transition: set-short-animation-transition(all);

			&--is-shown {
				transform: translateX(0);
				visibility: visible;
			}

			&-wrapper {
				display: none;

				@include mobile {
					position: sticky;
					top: 0;
					z-index: 1000;
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding-block: calculate-from-font-size(0.625);
					background-color: var(--color-black);
				}
			}

			&-title {
				font-size: calculate-from-font-size(1.875);
				font-family: var(--font-family-alt);

				span {
					position: relative;
					display: inline-block;

					&::before {
						content: attr(data-recolored-text);
						position: absolute;
						width: 0;
						color: var(--color-accent);
						background-color: var(--color-black);
						transition: set-hover-transition(width);
						overflow: hidden;
					}
				}

				&-span--is-recolored {
					&::before {
						width: 100% !important;
					}
				}
			}

			&-menu-button {
				position: relative;
				width: 35px;
				height: 26px;
				background-color: transparent;
				border: none;

				&::before,
				&::after {
					content: "";
					position: absolute;
					left: 0;
					width: 100%;
					height: 4px;
					background-color: var(--color-gray-dark);
					border-radius: var(--border-radius-small);
				}

				&::before {
					top: 0;
					box-shadow: 0 11px 0 var(--color-gray-dark);
					transition:
						box-shadow 0.3s 0.15s,
						top 0.3s 0.15s,
						transform 0.3s;
				}

				&::after {
					bottom: 0;
					transition:
						bottom 0.3s 0.15s,
						transform 0.3s;
				}

				&--is-clicked {
					&::before {
						top: 11px;
						transform: rotate(45deg);
						box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
						transition:
							box-shadow 0.15s,
							top 0.3s,
							transform 0.3s 0.15s;
					}

					&::after {
						bottom: 11px;
						transform: rotate(-45deg);
						transition:
							bottom 0.3s,
							transform 0.3s 0.15s;
					}
				}
			}

			&-backdrop {
				position: absolute;
				top: 100%;
				left: 0;
				display: none;
				width: 100%;
				height: 100vh;

				&--is-active {
					display: block;
				}
			}
		}
	}
}

.actions {
	&-list {
		display: flex;
		flex-direction: column;
		gap: calculate-from-font-size(0.625);

		@include mobile {
			display: none;
		}

		&-item__button {
			width: 100%;
		}
	}
}

.schedule {
	width: 100%;
	overflow-x: auto;

	&::-webkit-scrollbar-track {
		border-radius: var(--border-radius-small);
		border: set-border(2px, var(--color-accent));
	}

	&::-webkit-scrollbar {
		height: 10px;
	}

	&::-webkit-scrollbar-thumb {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		border-radius: var(--border-radius-small);
		background-color: var(--color-accent);
	}

	table {
		width: 100%;
		height: 100%;
		border-collapse: collapse;
	}

	td {
		padding: 0;
		/* 
		I don't know why, but all the cells are the same 
		width when there is a cell with an appointment
		*/
		max-width: 1px;
		border: set-border(2px, var(--color-gray-dark));

		&:first-child {
			border: none;
		}

		div {
			min-height: 40px;
			height: 100%;
		}
	}

	th {
		font-weight: 400;
	}

	&-column-header {
		padding: 0 calculate-from-font-size(0.625) calculate-from-font-size(0.625)
			calculate-from-font-size(0.625);
		border-right: set-border(2px, var(--color-gray-dark));
		border-left: set-border(2px, var(--color-gray-dark));

		&__month-day,
		&__week-day {
			display: block;
		}
	}

	&-row-header {
		position: sticky;
		left: 0;
		z-index: 100;
		padding-right: calculate-from-font-size(0.625);
		background-color: var(--color-black);
		border-top: set-border(2px, var(--color-gray-dark));
		border-bottom: set-border(2px, var(--color-gray-dark));

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: -2px;
			z-index: 100;
			width: 2px;
			height: 100%;
			background-color: var(--color-gray-dark);
		}
	}

	&-appointment {
		div {
			padding: 10px;
			margin: 0 auto;
			background-color: var(--color-accent);
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			cursor: pointer;
			transition: set-hover-transition(background-color);

			@include hover {
				background-color: transparent;
			}
		}
	}
}
