@use "./../components/" as *;

.app__main {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

.actions {
	&__list {
		display: flex;
		flex-direction: column;
		gap: calculate-from-font-size(0.625);

		&-item-button {
			width: 100%;
		}
	}
}

/* &-add {
	grid-column: span 2;
	grid-row: span 2;
	height: 100%;

	@include mobile-s {
		grid-column: auto;
		grid-row: auto;
	}
} */
